body {
    margin: 0;
    background-color: salmon;
    background-image: url(vector-speaker-1680x1050.jpg);
    color: white;
    font: 16px/1.4 "Lora", serif;
}

header {
    width: 40%;
}

h1 {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
}
/* 
p {
    /* margin-left: auto; USE FOR PERSONAL SITE
    margin-right: auto; */
    /* width: 40%;
} */

header, form, button, footer {
    margin: 2em;
}

form {
    width: 40%;
}

.enterInfo {
    display: block;
    width: 50%;
}

.enterInfo > input {
    float: right;
}

fieldset {
    border: 0;
    padding: 1em 0;
}

legend {
    padding-top: 1em;
    font-family: "Kumbh Sans", sans-serif;
    font-size: larger;
    font-weight: 600;
}

button {
    background-color: lightgreen;
    color:black;
    width: 100px;
    height: 50px;
    padding: 5px;
}

button#submit {
    background-color: lightgreen;
}
button#reset {
    background-color: orangered;
}

footer > a {
    font-size: xx-small;
    text-decoration: none;
    color: white;
}