header {
    position: relative;
}

header > span {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 3vw;
    font-size: 2em;
    line-height: 5rem;
    font-weight: bold;
    /* z-index: 1; */
}

nav {
    flex-direction: column; /*changes items from the default row flexing to a column flex in the menu*/
    display: none; /* don't display the nav on mobile, the hamburger does that */
    width: 9ch;
    text-align: center;
    /* align-items: center; centers the text in the menu - centers each flex items text */
    background-color: black;
    padding-right: 0;
    margin-top: 5vh;
    margin-right: 0;
}

nav > a {
    line-height: 2em; /* moves the header down so there is space on top and bottom*/
    padding: .5em;
    margin: 0 !important;
}
#menu {
    font-size: 5vh;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    /* font-size: 2rem; */
    color: white;
}

.menu-show {
    display: flex; /* override the display none from above*/
}

main {
    font-size: 2vh;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, calc(-50% + 2em)); puts the block in the center of the page */
    white-space: normal;
    /* text-align: center; */
}


main a { /*code for stylized buttons*/
    font-size: 1rem;
    text-transform: uppercase; /* makes the text all uppercase */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: .5em;
    width: 20ch;
    background-image: linear-gradient(90deg, blue, lightblue, turquoise);
    text-shadow: 1px 1px #303030; /* adds a drop shadow to the offset the text */
    text-decoration: none;
}

.teaser {
    flex-direction: column;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, -4em);
}

.teaser > div > h2 { 
    text-align: center;
}

.teaser > div::after {
    display: none;
}
