html {
    position: relative;
}

#home, #contact, #schedule  {
    background-image: url(../images/kitten-v.jpg);
}

#about {
    background-image: url(../images/kitten-flying-v.jpg);
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 90%;
    left: 30%;
    z-index: 3;
}
