html {
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
}

#home, #contact, #schedule  {
    position: relative;
    background-image: url(../images/playful-kitten-6683.jpg);
}

h1 {
    font-size: 50pt;
    color: orange;
    text-shadow: 2px 2px 2px black;
    margin-top: 0;
    margin-left: 3vw;
    font-weight: 500;
}

.sub {
    display: flex;
    margin-top: 0;
    margin-left: 3vw;
}

h2 {
    font-weight: 500;
}

img {
    width: 170px;
    padding-left: 1vw;
}

.container {
    width: 170px;
    height: 100px;
    box-sizing: border-box;
}

.logocard {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d ;
}

.container:hover > .logocard {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border: none;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

span.textColor {
    color: black;
    text-shadow: none;
    /* font-weight: 500; */
}

header {
    position: fixed;
    z-index: 3;

}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 90%;
    left: 55%;
    font-size: 20pt;
    z-index: 3;
}

nav > a {
    color: orange;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    margin-left: 3vw;
}

nav > a:hover {
    cursor: url("../images/pawprint.png"),auto;
}

a:hover::before {
    transform: translateY(1vh); 
    transition: transform ease 2s;
}

/* feel like I'm close to the hover on menu items push up */

/*CSS for About*/

#about {
    position: relative;
    background-image: url(../images/kitten-flying.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: transform .5s ease-in;
    animation-name: fadein;
    animation-delay: 2s;
    animation-duration: 2s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

p {
    margin-top: 0;
    padding-top: 20vh;
    margin-left: 30vw;
    text-shadow: 2px 2px 2px white;

}

/*CSS for the Schedule Pop-up*/

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content {
    margin: 20% auto;
    padding: 20px;
}

.closeBtn > img {
    float: right;
    width: 20px;
    height: 20px;
}

.closeBtn > img:hover,
.closeBtn > img:focus {
    cursor: pointer;
}

.schedTable > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.schedTable > .row {
    display: flex;
    flex-direction: row;
}

table {
    color: orange;
    border-collapse: separate;
    border-spacing: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid orange;
    box-sizing: border-box;
    width: 700px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
}

/* Contact Window CSS */

/* start of js for modalTwo*/

.modalTwo {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-contentTwo {
    margin: 20% auto;
    padding: 20px;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slidein {
    0% {
        margin-right: 100%;
        transition: all 0s linear;
        transform: rotate(0deg);
    }
    25% {
        margin-right: 75%;
        transition: all .25s linear;
        transform: rotate(45deg);
    }
    50% {
        margin-right: 50%;
        transition: all .5s linear;
        transform: rotate(90deg);
    }
    75% {
        margin-right: 25%;
        transition: all .75s linear;
        transform: rotate(145deg);
    }
    100% {
        margin-right: 0%;
        transition: all 1s linear;
        transform: rotate(180deg);
    }
}

.closeBtnTwo > img {
    float: right;
    width: 20px;
    height: 20px;
}

.closeBtnTwo > img:hover,
.closeBtnTwo > img:focus {
    cursor: pointer;
}

/* #contact {
    padding-top: 20vh;
} */

.contactBox {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid orange;
    box-sizing: border-box;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contactBox a {
    color: orange;
    padding-top: 35px;
}