html, body {
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

body {
    min-height: 100vh;
}


header {
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 1em;
    align-items: center;
    /* text-decoration: none;
    color: white; */
    z-index: 5;
}

header #logo {
    height: 5em;
    margin: 1em 2vh;
    max-height: 5em;
    max-height: 5em;
}


/* #nav {
    margin-top: 0;
} */
header > nav > a {
    text-decoration: none;
    color: white;
    margin-right: 3vw;
    justify-content: space-evenly;
    line-height: 5em;
    margin-top: 0;
}

nav > a:hover {
    color: #FF2D2D;
}

span#envelope {
    margin-top: 0;
}


#envelope > a {
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    line-height: 3em;
    vertical-align: center;
    border: 2px solid #FF2D2D;
    border-radius: 50%;
    padding: .5em;
    text-decoration: none;
    color: white;
    margin: 1em 2vh;
}

#envelope > #redCircle > .fsa-envelope {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#envelope > a:hover {
    border: 2px solid #FF2D2D;
    background-color: #FF2D2D;
    color: white;
}

.hero {
    /* position:absolute; */
    margin-right: 9em;
    width: 100%;
    height: 50vh;
    /* top: 0; */
}


h1 {
    color: #FF2D2D;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 80px;
    /* or 80% */
    text-align: center;
    margin-bottom: 5vh;
}

h1 > span.text-effectW {
    color: white;
}

.hero > div#homeButton > a.longButton {
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -70%);
    border: 2px solid #FF2D2D;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
}

.hero > div#homeButton > a.longButton:hover {
    border: 2px solid #FF2D2D;
    background-color: #FF2D2D;
    color: white;
}

div.teaser {
    width: 100%;
    height: 40vw;
    /* position: absolute; */
    /* top: 70vh; */
    display: flex;
    flex-direction: row;
    background-image: url(../images/final-backimg-maplines.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;

}

div.teaserBox {
    position: relative;
    box-sizing: border-box;
    width: 20vw;
    height: 50vh;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    align-content: center;
    background: #232323;
    padding: 1em;

}

div.teaserBox > h2 {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
}

div.teaserBox:hover {
    background-color: #FF2D2D;
}

/* Work Page CSS */

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
tbody tr:nth-child(even) {
    border-bottom: 2px solid #FF2D2D;
}

tbody > tr > td.projectName {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
}

tbody > tr > td.projectdecription {
    padding-top: 0;
}


tbody tr td img {
    width: 450px;
    height: 350px;
    text-align: right;
}


/* Skills & Services CSS 
Javascript code referenced from stack overflow answer from user Plantt [https://stackoverflow.com/users/16103775/plantt] */

.skillsFlip {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.skillsFlip > .rowOne ,
.skillsFlip > .rowTwo {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.skillBox {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border: 2px solid #FF2D2D;
    border-radius: 20%;
    overflow: hidden;
    transition: transform 2s;
    transform-style: preserve-3d;
    margin: 5px;
}

.skillBox div {
    position: relative;
    backface-visibility: hidden;
}

.skillBox h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.skillBox figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.skillBox:hover {
    background-color: #FF2D2D;
}

.skillBox .front {
    /* transform: rotateY(180deg); */
    background-color: #232323;
}


.skillBox .back {
    background-color: #FF2D2D;
    color: white;
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
  }

.skillBox h2{
    font-family: "Teko", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 4vh;
    text-align: left;
    padding-left: 1.5vw;
    margin-bottom: 1vh;
}

.skillBox p {
    font-size: 1em;
    text-align: left;
    padding-left: 2vw;
}

/* .front , .back {
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */


/* Contact Form CSS */

.contact h1 {
    color: #FF2D2D;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 80px;
    /* or 80% */
    text-align: center;
}

.contact h1 > span.text-effectW {
    color: white;
}

form {
    box-sizing: border-box;
    border: 2px solid #FF2D2D;
    border-radius: 5px;
    font: 16px/2 'Montserrat', sans-serif;
  /*   need a [/]font size and font lineheight */
    overflow: hidden;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    margin-top: 0;
    /* padding-left: 2vw; */
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

form > fieldset > h2 {
    font-family: "Teko", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

input {
    border-radius: 50px;
    width: 90%;
    font: 16px/2 'Montserrat', sans-serif;
    margin: 0;
    background-color: #232323;
    border: 2px solid #FF2D2D;
    color: white;
    margin-bottom: 2vh;
}

textarea {
    border-radius: 20px;
    font: 16px/2 'Montserrat', sans-serif;
    background-color: #232323;
    border: 2px solid #FF2D2D;
    margin: 0;
    color: white;
}

form > fieldset > button {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    border: 2px solid #FF2D2D;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    background: #232323;
    margin-bottom: 2vh;
}


form > fieldset > button:hover {
    border: 2px solid #FF2D2D;
    background-color: #FF2D2D;
    color: white;
}

/* Recommendations CSS */

#recs {
    margin-top: 0;
}

#recs > div#testimonials {
    box-sizing: border-box;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    overflow: hidden;
    font: 16px/1.2 'Montserrat', sans-serif;
}

hr {
    background-color:#FF2D2D;
    height: 1px;
    border: none;
}

div.testimonial {
    display: flex;
    flex-direction: column;
}

div.testimonial > div.recoInfo >h2 {
    font-family: "Teko", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    text-align: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

div.testimonial > div.recoInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.testimonial > div.recoInfo > a {
    text-decoration: none;
    color: white;
}



/* Footer CSS */
footer {
    /* position: absolute; */
    /* top: 140vh; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    height: 12vh;
    background: #FF2D2D;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
}

footer > div.socialLinks > a {
    color: white;
    padding: 3vw;
    /* padding-right: 3vw; */
    /* float: left; */
    /* line-height: 8vh; */
    vertical-align: middle;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;
    margin-top: 4vh;
}

footer > p {
    color: white;
    text-align: center;
    margin-top: 2vh;
    /* justify-content: center; */
}

/*
trouble getting the footer to the bottom of the final content.
How to link other HTML pages? OR if it is one continous page how to get it not to show until it's clicked on
*/